@media only screen and (max-width:1000px) {
    .star       {width: auto;}
    main > *    {width:90%;}
    /* .skilTable  {} */
    .skilName   {font-size: 55px;}
    .skil       {width: 55%;margin-bottom: 150px;}
    .card       {width: 800px;height: 450px;}
    h3          {font-size: 100px;margin: 6% 0 6% 0;}
    p           {font-size: 40px;}
} /*Phone*/